.map {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-auto-rows: 60px;
}

.cellInfo {
  height: 60px;
}

button {
  border: none;
  outline: none !important;
  font-weight: normal;
}

.raise:hover {
  z-index: 100;
}